$sprites: sprite-map("sprites/btn/*.png");
$sprites-retina: sprite-map("sprites-retina/btn/*.png");

@mixin sprite-background($name, $name_hover: "", $name_active: "") {
  background-image: sprite-url($sprites);
  background-position: sprite-position($sprites, $name);
  background-repeat: no-repeat;
  display: block;
  height: image-height(sprite-file($sprites, $name));
  width: image-width(sprite-file($sprites, $name));
  $width: image-width(sprite-file($sprites, $name));

  @if $name_hover != "" {
  	&:hover {
	background-position: sprite-position($sprites, $name_hover); 	
  }	
}

  
  @media (-webkit-min-device-pixel-ratio: 2),
         (min-device-pixel-ratio: 2) {
    
    @if (sprite-position($sprites, $name) != sprite-position($sprites-retina, $name)) {
      $ypos: round(nth(sprite-position($sprites-retina, $name), 2) / 2);
      background-position: 0 $ypos;
    }
   	
   	@if $name_hover != "" {
	   	@if (sprite-position($sprites, $name_hover) != sprite-position($sprites-retina, $name_hover)) {
	      $ypos: round(nth(sprite-position($sprites-retina, $name_hover), 2) / 2);
	      &:hover {
			background-position: 0 $ypos; 	
		  }
	    }
    } 
    @include background-size($width auto);
    background-image: sprite-url($sprites-retina);
  }
}

// Example 
.normalSprite {
  @include sprite-background(myIcon);
}

.flashySprite {
  @include sprite-background(spriteTwo, spriteTwo_hover);
}

.flashySprite {
  @include sprite-background(mybutton, myButton_hover, myButton_active);
}

