* { margin: 0; padding: 0;}    // for demo purposes, don't use in production!!
body { padding: 100px; font-family: sans-serif; }       // for demo, not required
h4 { margin: 35px 0 10px 0; color: #444;}

/*  Styles above are for demo page, not required for spriting  */


@import "vendor/retina";  // import this once for all retina mixins



/* ======== In production, I would abstract all of the following into it's own SCSS file ======== */

// set this variable to 1 if you have to support IE8 and use respondjs 
// this also requires Modernizr's check for 'mediaqueries'
$retina-support-respondjs: 1; 

// default spacing for all sprites is set to 2px
// use this variable if you want to change it
$retina-sprite-spacing: 10px;

// the first sprite is used as default
// so you don't have to pass the name to the `retina-sprite` mixin
@include retina-sprite-add(icons, "sprites/icons/*.png", "sprites-retina/icons/*.png");
@include retina-sprite-add(buttons, "sprites/buttons/*.png", "sprites-retina/buttons/*.png");






.icon-compass-logo {
  @include retina-sprite(compass-logo);
}

.myHoverActiveButton {
	@include retina-sprite(signIn, buttons, $hover: true, $active: true);
}

.myHoverButton {
	@include retina-sprite(signIn, buttons, $hover: true);
}

.myActiveButton {
	@include retina-sprite(signIn, buttons, $active: true);
}

.myBoringButton {
  @include retina-sprite(signIn, buttons);
}

.myOtherButton {
  @include retina-background(arrow-right, center right no-repeat);

  // for demo, not required
  display: inline-block;
  padding: 10px;
  padding-right: 30px;
}

